{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
        <div class="service-list">
                <h1 class="h1 service-list__title">Услуги, оказываемые физическим лицам</h1>
                <ul class="list-group list-group-flush  service-list__items">
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:criminal_defense' %}">
                                        <span>Адвокаты по уголовным делам</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:civil_defense' %}">
                                        <span> Адвокаты по гражданским делам</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:inheritance' %}">
                                        <span>Адвокаты по делам o наследстве (Наследственный адвокат)</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:migration' %}">
                                        <span>Адвокаты по миграционным делам (Миграционный адвокат)</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:traffic_accident' %}">
                                        <span>Адвокаты по ДТП (Автоюрист)</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:license_revocation' %}">
                                        <span>Адвокаты по лишению водительских прав</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:family_matters' %}">
                                        <span>Адвокаты по семейным делам (Семейный адвокат)</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:individual_bankruptcy' %}">
                                        <span>Адвокат по банкротству</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:consumer_protection' %}">
                                        <span>Адвокат по защите прав потребителей</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:land_disputes' %}">
                                        <span>Адвокат по земельным спорам</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:debt_recovery' %}">
                                        <span>Адвокат по взысканию долгов</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:medical' %}">
                                        <span>Адвокат по возмещению вреда здоровью (Медицинский адвокат)</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:enforcement_lawyer' %}">
                                        <span>
                                                Адвокат по работе c приставами (Юрист в исполнительном производстве)
                                        </span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:appeals' %}">
                                        <span>
                                                Апелляционное и кассационное обжалование судебных решений
                                                (Адвокат по обжалованию решений, приговоров либо постановлений)
                                        </span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:administrative_penalties' %}">
                                        <span>Обжалование административных наказаний</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                        <li class="list-group-item  service-list__item">
                                <a href="{% url 'homeapp:online_consultation' %}">
                                        <span>Юридические консультации онлайн</span>
                                        <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                                </a>
                        </li>
                </ul>
        </div>

<div class="form-wrapper">
    {% include "homeapp/forms/amo-form.html" %}
</div>
</div>
{% endblock %}