

.dropdown-toggle::after {
  display: none;
}

.navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff !important;
}

.navbar-nav {
  gap: 16px;
}

.nav-item {
  margin: 0;
}

.nav-link {
  padding: 0px !important;
}

.navbar-nav a {
  color: rgba(42, 53, 84, 0.7);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
}

.socials {
  gap: 0px;
}

.menu {
  display: flex;
  gap: 8px;
  padding-left: 12px;
}

.image-wrapper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  padding: 24px;
  width: 100%;
  max-width: 394px;
  box-sizing: border-box;
}

.feature p {
  margin-bottom: 10px;
  margin-top: 8px;
}

.feature span {
  color: rgb(42, 53, 84);
}

.steps {
  background: rgb(246, 249, 255);
}

.steps h2 {
  color: rgb(42, 53, 84);
  font-family: "Russo One";
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  padding: 0px;
}

.collapsed h4 {
  color: rgb(42, 53, 84);
}

.partner * {
  border-radius: 0px !important;
}

.partner {
  background: rgb(42, 53, 84);
  padding: 24px;
  color: white;
  text-align: left;
  margin: 4px;
}

.partner .list-group-item {
  background: rgb(42, 53, 84);
  color: white;
  border: none;
  font-size: 16px;
  text-align: left;
  margin-bottom: 12px;
  padding: 0px;
}

.partner img {
  margin-bottom: 20px;
  max-height: 346px;
  object-fit: cover;
  object-position: top;
}

.partner h5 {
  color: rgb(255, 255, 255);
  font-family: "Gilroy";
  text-align: left;
  padding: 0px;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

.customer-logos {
  padding-top: 0px;
  padding-bottom: 0px;
}

.customer-logos.slick-slider {
  padding: 0;
}

.customer-logos .slick-slide {
  margin: 0;
}

.customer-logos .slick-track {
  gap: 8px;
}

.clients {
  background: white;
  padding: 32px;
}

.clients h2 {
  color: rgb(42, 53, 84);
  font-family: 'Russo One';
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
  padding: 0px;
  margin-bottom: 16px;
}



.navbar-toggler {
  border: none;
  padding: 0px;
  padding: 8px;
  background: rgb(42, 53, 84);
}

.navbar-toggler {
  border-radius: 0px !important;
}



.navbar .container {
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer .container {
    background-image: none;
  }

  nav .container {
    gap: 20px;
  }
}

@media screen and (max-width: 960px) {
  
}

@media only screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .partner img {
    max-height: none;
  }

  .customer-logos {
    padding: 0!important;
  }
}

@media screen and (max-width: 500px) {
  

  .partner img {
    max-height: 346px;
  }

  
}

@media screen and (max-width: 340px) {
  .button__header {
    padding: 6px 12px !important;
    align-items: center;
  }
}