//main: ../main.less
.accordion-collapse {
  color: white;
}

.accordion-collapse {
  transition: .3s ease-out!important;

  &.show {
    background: #2a3554;
  }
}

.accordion-item:last-of-type .accordion-collapse,
.accordion-item:first-of-type .accordion-button,
.accordion-button,
.accordion-header,
.accordion-item {
  border-radius: 0px !important;
  border-top-left-radius: 0px !important;
  box-shadow: none !important;
}

.accordion-item {
  border: 1.5px solid rgb(42, 53, 84);
  border-top: 1.5px solid rgb(42, 53, 84) !important;
  margin-bottom: 8px;
}

.accordion-item__title {
  margin-bottom: 0;
  padding-right: 20px;
}

.accordion-button {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #f7f9ff;

  &::after {
    position: absolute;
    right: 20px;
  }

  span {
    background: #2a3554;
    color: white;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  &:not(.collapsed) {
    background: #2a3554;
    border-radius: 0px;
    box-shadow: none;

    span {
      background: #fff;
      color: #2a3554;
    }

    .accordion-item__title {
      color: white;
    }
  }
}

.accordion-body {
  background: #2a3554;
}


@media screen and (max-width: 767px) {
  .accordion-button {
    flex-direction: column;
    align-items: initial;
  }
}