<form method="POST" class="job-form" prefix="form" id="form">
    {% csrf_token %}

    <div class="form-group half">
        <input type="text" name="username" class="form-control" 
        placeholder="Имя" required autocomplete="">
    </div>

    <div class="form-group half">
        <input name="number" type="text" class="form-control telmask"
        placeholder="Телефон" maxlength="12"
        aria-label="Sizing example input">
    </div>

    <div class="form-group">
        <textarea name="question" type="text" class="form-control question" aria-label="Question (optional)">Вопрос
        </textarea>
    </div>

    <button type="submit" class="job-form__submit">Отправить</button>
</form>