<!-- <form method="POST">
    {% csrf_token %}
    <div class="input-group input-group-lg">
        <input name="username" type="text" class="form-control mb-2"
               placeholder="Имя" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg" style="margin: 0 0 9px;">
        <input name="number" type="text" class="form-control telmask"
               placeholder="Телефон" maxlength="12"
               aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg">
        <input name="question" type="text" class="form-control mb-2"
               placeholder="Ваш вопрос (необязательно)" aria-label="Your question (optional)"
               aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="modal-footer justify-content-center ps-0">
        <div class="container-fluid ps-0 ">

            <div class="row ">
                <div class="col-4 ">
                    <button type="submit" class="btn btn-secondary form__submit"
                            data-bs-dismiss="modal">
                        Оставить
                        заявку
                    </button>
                </div>
                <div class="col">
                    <p class=" text-start h5 ">Нажимая на кнопку, вы
                        соглашаетесь с <br><a
                                href="{% url 'homeapp:privicy' %}">политикой
                            конфиденциальности</a></p>
                </div>
            </div>
        </div>
    </div>
</form> -->

<!-- Вставка скрипта AmoCRM -->

<script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"1437418",hash:"bcedb60539dcb554d443ded7b37bc43e",locale:"ru"}),a[o+m]=a[o+m]||function(f,k){a[o+m].f=(a[o+m].f||[]).concat([[f,k]])}}(window,0,"amo_forms_","params","load","loaded");</script><script id="amoforms_script_1437418" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1730497456"></script>