{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}

<section class="pricing">
  <div class="container">
    <div class="pricing-header">
        <h1 class="page-section__title">Тарифы на абонентское сопровождение</h1>
        <p class="text-center pt-3">Выберите подходящий для вас пакет юридического обслуживания</p>
    </div>

    <div class="pricing-packages row justify-content-center pt-3">
      <!-- Базовый пакет -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="pricing-card">
          <h3 class="text-center pb-5">БАЗОВЫЙ ПАКЕТ</h3>
          <ul class="list-unstyled pricing-list">
            <li>Дистанционное консультирование по возникшим правовым вопросам (5 часов);</li>
            <li>Разовый срочный выезд для участия в проверке либо следственных действиях;</li>
          </ul>
          <p class="price text-center">50 000 рублей в месяц</p>
        </div>
      </div>

      <!-- Продвинутый пакет -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="pricing-card">
          <h3 class="text-center pb-5">ПРОДВИНУТЫЙ ПАКЕТ</h3>
          <ul class="list-unstyled pricing-list">
            <li>Дистанционное консультирование по возникшим правовым вопросам (10 часов), в том числе подготовка письменных правовых заключений;</li>
            <li>Два срочных выезда адвоката для участия в проверке контролирующих (налоговых) органов либо следственных действиях;</li>
            <li>Правовой аудит сделки (2 часа) с изучением документов;</li>
            <li>Подготовка правовой позиции по судебному делу простой категории и одно-два дня участия в судебном заседании арбитражного суда в месяц;</li>
          </ul>
          <p class="price text-center">100 000 рублей в месяц</p>
        </div>
      </div>

      <!-- Премиальный пакет -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="pricing-card">
          <h3 class="text-center pb-5">ПРЕМИАЛЬНЫЙ ПАКЕТ</h3>
          <ul class="list-unstyled pricing-list">
            <li>Дистанционное консультирование по возникшим правовым вопросам (15 часов), в том числе подготовка письменных правовых заключений;</li>
            <li>Три срочных выезда адвоката для участия в проверке контролирующих (налоговых) органов либо следственных действиях;</li>
            <li>Правовой аудит сделки (5 часов) с изучением документов, проведение переговоров;</li>
            <li>Подготовка правовой позиции по судебному делу сложной категории и безлимитное участие в судебных заседаниях арбитражного суда по делу;</li>
            <li>Обслуживание клиентов в VIP офисе коллегии;</li>
          </ul>
          <p class="price text-center">150 000 рублей в месяц</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
