{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}
<section class="news-section container">
  <div class="page-section">
    <div class="news_feed_header">
      <h1 class="title title_h2">{{ section_title }}</h1>
    </div>

    <ul class="news__list">
      {% for item in items %}
        <li class="news__item">
          <a class="news__item-link" href="{% url detail_url_name item.slug %}">
            <img class="news__item-image"
                 src="{% if item.preview_image %}{{ item.preview_image.url }}{% else %}{% static 'homeapp/img/main_img_1.jpg' %}{% endif %}"
                 alt="{{ item.title }}">
            <h3 class="news__item-title">{{ item.title }}</h3>
            <time class="news__item-date"
                  datetime="{{ item.display_date }}">{{ item.display_date|date:"d.m.Y" }}</time>
          </a>
        </li>
      {% empty %}
        <p>Пока нет доступных записей.</p>
      {% endfor %}
    </ul>
  </div>

  {% if show_form %}
  <div class="form-wrapper">
    {% include "homeapp/forms/amo-form.html" %}
  </div>
  {% endif %}
</section>
{% endblock %}
