{% extends 'homeapp/base.html' %} {% load static %} {% block content %}

<section class="hero">
  <div class="container">
    <img class="hero-1" src="{% static 'homeapp/img/fm.webp' %}" alt="" />
    <div class="hero__text hero-2">
      <h1>Партнер групп</h1>
      <span>Московская коллегия адвокатов</span>
      <img src="{% static 'homeapp/img/Vector.webp' %}" alt="" />
      <p class="hero__subtitle">
        Сила в знании, справедливость в действии:<br> ваша защита – наша миссия!
      </p>
      <button type="button" class="button-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Получить консультацию
      </button>
    </div>
    <img class="hero-3" src="{% static 'homeapp/img/ml.webp' %}" alt="" />

    <div class="hero-mobile">
      <div class="image-wrapper">
        <img src="{% static 'homeapp/img/fm.webp' %}" alt="" />
      </div>
      <div class="image-wrapper">
        <img src="{% static 'homeapp/img/ml.webp' %}" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="features" id="bg">
  <div class="container">
    <div class="features__row">
      <div class="features__item">
        <div class="features__icon">
          <img src="{% static 'homeapp/img/Mortarboard_alt.webp' %}" alt="" />
        </div>
        <p class="title title_h3">Экспертное правовое сопровождение</p>
        <span>Мы знаем законы и имеем большой опыт работы.</span>
      </div>

      <div class="features__item">
        <div class="features__icon">
          <img src="{% static 'homeapp/img/User_scan.webp' %}" alt="" />
        </div>
        <p class="title title_h3">Индивидуальный подход<br> к&nbsp;клиенту</p>
        <span>Учитываем все особенности вашей ситуации.</span>
      </div>

      <div class="features__item">
        <div class="features__icon">
          <img src="{% static 'homeapp/img/Group.webp' %}" alt="" />
        </div>
        <p class="title title_h3">Строим отношения на&nbsp;репутации и&nbsp;доверии</p>
        <span>Наша цель — долгосрочное сотрудничество.</span>
      </div>
    </div>

    <div class="mission">
      <p>&laquo;Миссия МКА Партнер Групп заключается в&nbsp;предоставлении высококачественных юридических услуг , основанных на&nbsp;глубоком понимании потребностей и&nbsp;целей клиентов, с&nbsp;использованием инновационных подходов и&nbsp;экспертизы для достижения оптимальных результатов и&nbsp;установления долгосрочных партнерских отношений.&raquo;</p>
      
      <div class="good-place">
        <div class="good-place__row">
          <div class="good-place__col">
            <img class="good-place__image" src="{% static 'homeapp/img/good-place.svg' %}" alt="Лучшее место Яндекс">
          </div>
          <div class="good-place__col">
            <span class="good-place__title title title_h2">Хорошее место 2025</span>
            <span class="good-place__text">Награда Яндекса для мест, которые<br> пользователи карт особенно любят</span>
          </div>
        </div>
        <div class="good-place__button">
          <a class="btn2 button-blue" href="https://yandex.ru/navi/org/mka_partner_grupp/23350636644/reviews/?ll=37.537434%2C55.749633&z=16" target="_blank">Смотреть отзывы</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="video">
  <div class="container">
    <div class="video__row">
      <div class="video__col">
        <div style="height: 100%" class="justify-content-center align-items-center d-flex rl-pos">
          <iframe src="https://vk.com/video_ext.php?oid=4309729&id=456239062&hd=2&autoplay=1&muted=1" width="325" height="646" allow="autoplay; muted; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="video__col">
        <h2 class="video__title title title_h2">
          Хотите быть уверенным в успехе своего бизнеса или нуждаетесь в помощи
          в решении сложных личных вопросов?
        </h2>
        <p>
          МКА «Партнер Групп» не только решит Ваши проблемы, но и предотвратит
          новые.
        </p>

        <div class="right-bottom-area">
          <div class="author-lacture">
            <p>
              Наша команда состоит из высококвалифицированных юристов и
              адвокатов, которые непрерывно повышают свою квалификацию, навыки и
              знания для сохранения Ваших интересов. Мы готовы предложить Вам
              уникальные юридические решения, адаптированные для каждого
              клиента, опираясь на Ваши специфические требования и запросы. В
              борьбе со сложностями на пути к успеху, каждая секунда на вес
              золота. Наши специалисты гарантируют Вам быструю и результативную
              работу, сокращая время от проблемы до решения. Мы обеспечиваем
              полную конфиденциальность и этичность во всех вопросах, связанных
              с Вашим делом.
            </p>
          </div>
        </div>

        <div class="video__buttons">
          <a class="btn2 button-blue" href="{% url 'homeapp:tariffs' %}">Тарифы</a>
          <button type="button" class="btn1 button-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-area">
  <div class="container">
    <div class="about">
      <div class="about-inner">
        <div class="about-wrapper">
          <h2 class="title title_h2">Абонентское обслуживание</h2>
          <div class="about-subtitle">
            <p>
              Абонентское обслуживание адвокатом подразумевает постоянное юридическое сопровождение клиента на&nbsp;протяжении определенного периода времени, обычно в&nbsp;течение года. Оно предоставляет клиентам возможность получить профессиональные юридические услуги и консультации от&nbsp;адвоката по&nbsp;различным вопросам без необходимости оплачивать каждую отдельную консультацию.
            </p>
            <p>
              Основные преимущества абонентского обслуживания адвокатом:
            </p>
          </div>

          <div class="advantages">
            <ul class="advantages__row">
              <li class="advantages__item">
                <div class="advantages__item-header">
                  <div class="advantages__item-icon">
                    <img src="{% static 'homeapp/img/Wallet_alt.webp' %}" alt="Иконка кошелек"/>
                  </div>
                  <span class="title title_h3">Экономия</span>
                </div>
                <p>
                  Клиент платит фиксированную сумму за&nbsp;годовое обслуживание и может обращаться за&nbsp;помощью адвоката без дополнительной оплаты.
                </p>
              </li>
              <li class="advantages__item">
                <div class="advantages__item-header">
                  <div class="advantages__item-icon">
                    <img src="{% static 'homeapp/img/Fire.webp' %}" alt="Иконка огонь"/>
                  </div>
                  <span class="title title_h3">Уверенность</span>
                </div>
                <p>
                  Клиент знает, что он&nbsp;всегда может обратиться к&nbsp;опытному специалисту по&nbsp;вопросам права и&nbsp;получить нужную помощь.
                </p>
              </li>
              <li class="advantages__item">
                <div class="advantages__item-header">
                  <div class="advantages__item-icon">
                    <img src="{% static 'homeapp/img/Speed_alt.webp' %}" alt="Иконка скорость"/>
                  </div>
                  <span class="title title_h3">Оперативность</span>
                </div>
                <p>
                  Постоянный доступ к&nbsp;юридическим услугам. Клиент может получить консультации и&nbsp;сопровождение адвоката по&nbsp;любым вопросам в течение установленного периода.
                </p>
              </li>
              <li class="advantages__item">
                <div class="advantages__item-header">
                  <div class="advantages__item-icon">
                    <img src="{% static 'homeapp/img/Lamp.webp' %}" alt="Иконка лампочка"/>
                  </div>
                  <span class="title title_h3">Осведомленность</span>
                </div>
                <p>
                  Повышение уровня защиты интересов. Адвокат знаком с&nbsp;историей клиента и&nbsp;его юридическими потребностями, что позволяет эффективно защищать его права и&nbsp;интересы.
                </p>
              </li>
            </ul>

            <img class="advantages__img" src="{% static 'homeapp/img/work_day.webp' %}" alt="Рабочий процесс"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <h2 class="title title_h2">Этапы работы</h2>
    <div class="accordion mt-4" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <span>1</span>
            <h3 class="accordion-item__title title title_h3">Подбор и выбор адвоката</h3>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            На этом этапе вам необходимо определиться с адвокатом, который
            <strong>способен решить вашу правовую проблему.</strong>
            При выборе адвоката важно учитывать его опыт и специализацию.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span>2</span>
            <h3 class="accordion-item__title title title_h3">Встреча и консультация с адвокатом</h3>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            На данном этапе происходит знакомство с адвокатом и обсуждается ваше
            дело. Необходимо предоставить всю доступную информацию о вашей
            ситуации, задать вопросы и выслушать мнение адвоката о перспективах
            и возможных решениях вашей проблемы. Если адвокат готов взять ваше
            дело, обсуждается стоимость его услуг и детали сотрудничества.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span>3</span>
            <h3 class="accordion-item__title title title_h3">Заключение договора</h3>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            После того как вы выбрали адвоката и решились на сотрудничество,
            нужно заключить договор об оказании услуг. В договоре указываются
            условия сотрудничества, стоимость услуг адвоката, порядок
            предоставления отчетов о проделанной работе, а также ответственность
            сторон.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
            <span>4</span>
            <h3 class="accordion-item__title title title_h3">Изучение дела адвокатом и сбор информации</h3>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            На этом этапе адвокат и его команда изучают документы по вашему
            делу, собирают доказательства и информацию, необходимую для
            успешного разрешения правовой проблемы. Адвокат может
            взаимодействовать с другими лицами, участвующими в деле, проводить
            переговоры и заниматься другими действиями для подготовки дела к
            разбирательству.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
            <span style="width: 43px;">5</span>
            <h3 class="accordion-item__title title title_h3">
              Проведение судебного процесса или альтернативных способов
              разрешения спора (если применимо)
            </h3>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            В зависимости от ситуации, адвокат ведет дело в суде или с
            использованием альтернативных способов разрешения спора (например,
            переговоры или медиация). В процессе судебного разбирательства
            адвокат защищает ваши интересы, представляет доказательства и
            выступает перед судом.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
            <span>6</span>
            <h3 class="accordion-item__title title title_h3">Завершение дела и окончание сотрудничества</h3>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            После того как дело завершено и получено решение суда или достигнуто
            соглашение, адвокат помогает вам в исполнении решения или
            соглашения, а также при необходимости проводит апелляционное и
            кассационное обжалование. По окончании всех правовых процедур
            адвокат направляет вам итоговый акт выполненных услуг для оплаты. В
            конце сотрудничества стороны могут обсуждать возможность дельнейшего
            партнерства или поддержки по другим правовым вопросам.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="aboniment">
  <div class="container mt-3">
    <div class="aboniment__text">
      <h2 class="title title_h2">Абонентское обслуживание</h2>
      <p>
        Оплата за абонентское обслуживание может быть осуществлена ежемесячно
        или ежегодно. Стоимость обслуживания может варьироваться в зависимости
        от объема услуг, которые будут предоставлены адвокатом.
      </p>
    </div>
    <div class="aboniment__row">
      <div class="aboniment__item">
        <img class="m-0-auto" src="{% static 'homeapp/img/personal.webp' %}" />
        <h3 class="title title_h3">Личный адвокат</h3>
        <p>
          Заключив соглашение, доверитель получает квалифицированную юридическую
          помощь от группы адвокатов  МКА «Партнер групп» по уголовным делам,
          административным делам 24/7.
        </p>
      </div>
      <div class="aboniment__item">
        <img class="m-0-auto" src="{% static 'homeapp/img/family.webp' %}" />
        <h3 class="title title_h3">Семейный адвокат</h3>
        <p>
          Абонентское обслуживание адвокатом для всей семьи - это услуга,
          которая позволяет обеспечить юридическую защиту группе лиц, состоящей
          из нескольких членов семьи. Это может включать супругов, детей,
          родителей и других близких родственников.
        </p>
      </div>
      <div class="aboniment__item">
        <img class="m-0-auto" src="{% static 'homeapp/img/business.webp' %}" />
        <h3 class="title title_h3">Сопровождение бизнеса</h3>
        <p>
          В своей деятельности МКА «Партнер групп» оказывает услуги компаниям на
          комплексной основе. Заключая соглашение о юридическом сопровождении
          бизнеса, вы избавляете себя от расходов, связанных с содержанием
          целого юридического департамента.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="cta-area">
    <h2 class="title title_h2 title_white">
      Партнеры коллегии
    </h2>
    <p class="cta-area__text">
      Наша команда - адвокаты и юристы с высоким уровнем экспертизы:
      выпускники лучших вузов и специалисты с опытом работы в
      правоохранительных органах, готовы оказать помощь в самых сложных
      ситуациях.
    </p>
  </div>

  <div class="team-slider mySlider swiper">
    <div class="swiper-wrapper">
      {% for partner in partners %}
      <div class="team-slider__item swiper-slide">
        <div class="team-slider__item-details">
          <img class="team-slider__item-image" src="{{ partner.photo.url }}" alt="{{ partner.name }}" />
          <h3 class="title title_h3 title_white">{{ partner.name }}</h3>
          <ul class="team-slider__item-text">
            <li>{{ partner.min_context1 }}</li>
            <li>{{ partner.min_context2 }}</li>
            <li>{{ partner.min_context3 }}</li>
            <li>{{ partner.min_context4 }}</li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="modal fade" id="diplomaModal" tabindex="-1" aria-labelledby="diplomaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="diplomaModalLabel">Увеличенное изображение</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img id="diplomaModalImage" class="img-fluid" src="" alt="Diploma">
      </div>
    </div>
  </div>
</div>

{% if News %}
<section class="news-feed container">
  <div class="swiper mySlider">
    <h2 class="title title_h2">Новости и публикации</h2>

    <div class="swiper-wrapper">
      {% for news in News %}
      <a class="news-feed__slide swiper-slide" href="/news_{{ news.slug }}">
        <div class="news-feed__group">
          <time class="news-feed__date" datetime="{{ news.create_datetime }}">{{ news.create_datetime }}</time>
          <h3 class="news-feed__title title title_h3">{{ news.title }}</h3>
          <div class="news-feed__content">
            {{ news.text|safe }}
          </div>
        </div>
        <span class="news-feed__fakelink btn2 button-blue">Подробнее</span>
      </a>
      {% endfor %}
    </div>

    <div class="slider-nav">
        <button class="slider-nav__button slider-nav-prev" type="button">
          <span>Назад</span>
          <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m15 18-6-6 6-6"></path>
          </svg>
        </button>
        <button class="slider-nav__button slider-nav-next" type="button">
          <span>Вперед</span>
          <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </button>
      </div>
  </div>
</section>
{% endif %}

<section class="container">
  <div class="cta-area">
    <h2 class="cta-area__title title title_h2 title_white">
      Ознакомиться с презентацией <br /> МКА «Партнер Групп»
    </h2>
    <p class="cta-area__text">
      Приглашаем вас ознакомиться с презентацией компании МКА «Партнер
      Групп» и узнать о нас в краткой удобной форме.
    </p>
    <div class="cta-area__button">
      <a href="{% static 'homeapp/docs/Партнер групп.pdf' %}" class="btn1 button-white" target="_blank">
        Скачать презентацию PDF
      </a>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="title title_h2">Нам доверяют</h2>
  <div class="clients mySlider swiper" data-slides-count="5" data-slides-count-tablet="4" data-slides-count-mob="3" data-autoplay>
    <div class="swiper-wrapper">
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/1.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/2.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/3.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/4.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/5.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/6.webp' %}" />
      </div>
      <div class="clients__item swiper-slide">
        <img src="{% static 'homeapp/img/partners/7.webp' %}" />
      </div>
    </div>
  </div>
</section>

{% if reviews %}
<section class="container">
  <div class="reviews-feed">
    <div class="reviews-feed__slider swiper mySlider">
      <h3 class="title title_h2 title_white">Отзывы клиентов</h3>

      <div class="reviews-feed__wrapper swiper-wrapper">
        {% for review in reviews %}
        <div class="reviews-feed__slide swiper-slide">
          <svg class="reviews-feed__icon" width="46" height="46" fill="#EAF1FF" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.135 9h3L10 14.607H7L9.135 9Z"></path>
            <path d="M14.135 9h3L15 14.607h-3L14.135 9Z"></path>
          </svg>
          <div class="reviews-feed__item">
            <span class="reviews-feed__name title title_h3">— {{ review.author_name }}</span>
            <p class="reviews-feed__content">{{ review.content }}</p>
            <time class="reviews-feed__date" datetime="{{ review.created_at|date:"d.m.Y" }}">{{ review.created_at|date:"d.m.Y" }}</time>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="slider-nav">
        <button class="slider-nav__button slider-nav-prev" type="button">
          <span>Назад</span>
          <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m15 18-6-6 6-6"></path>
          </svg>
        </button>
        <button class="slider-nav__button slider-nav-next" type="button">
          <span>Вперед</span>
          <svg width="46" height="46" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}