{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}

{% if News %}
<section class="container">
    <div class="page-section">
        <div class="news">
            <div class="news__header">
                <h1 class="title title_h2">Пресс-центр</h1>
                <ul class="news__sort">
                    <li class="news__sort-item">
                        <button class="news__sort-button is-active btn1 button-white js-newsSortButton" data-category="all" type="submit">Показать все</button>
                    </li>
                    <li class="news__sort-item">
                        <button class="news__sort-button btn1 button-white js-newsSortButton" data-category="news" type="submit">Новости</button>
                    </li>
                    <li class="news__sort-item">
                        <button class="news__sort-button btn1 button-white js-newsSortButton" data-category="posts" type="submit">Статьи</button>
                    </li>
                    <li class="news__sort-item">
                        <button class="news__sort-button btn1 button-white js-newsSortButton" data-category="videos" type="submit">Видео</button>
                    </li>
                </ul>
            </div>
            <ul class="news__list">
                <li class="news__item js-newsItem" data-category="news">
                    <a class="news__item-link" href="">
                        <img class="news__item-image" src="{% static 'homeapp/img/main_img_1.jpg' %}" class="news__item-image" alt="">
                        <h3 class="news__item-title">Успешный случай: Банкротство физического лица</h3>
                        <time class="news__item-date" datetime="09.02.2025">9 февраля 2025 г. 19:41</time>
                    </a>
                </li>
                <li class="news__item js-newsItem" data-category="news">
                    <a class="news__item-link" href="">
                        <img class="news__item-image" src="{% static 'homeapp/img/main_img_1.jpg' %}" class="news__item-image" alt="">
                        <h3 class="news__item-title">Защитили компанию от недоимки в 611 млн. руб.</h3>
                        <time class="news__item-date" datetime="09.02.2025">9 февраля 2025 г. 19:41</time>
                    </a>
                </li>
                <li class="news__item js-newsItem" data-category="posts">
                    <a class="news__item-link" href="">
                        <img class="news__item-image" src="{% static 'homeapp/img/main_img_1.jpg' %}" class="news__item-image" alt="">
                        <h3 class="news__item-title">Освобождение от уголовного наказания</h3>
                        <time class="news__item-date" datetime="09.02.2025">9 февраля 2025 г. 19:41</time>
                    </a>
                </li>
                <li class="news__item js-newsItem" data-category="videos">
                    <a class="news__item-link" href="" target="_blank">
                        <img class="news__item-image" src="{% static 'homeapp/img/main_img_1.jpg' %}" class="news__item-image" alt="">
                        <h3 class="news__item-title">Название видео на Ютуб</h3>
                        <time class="news__item-date" datetime="09.02.2025">9 февраля 2025 г. 19:41</time>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="form-wrapper">
    {% include "homeapp/forms/amo-form.html" %}
</div>
</section>
{% endif %}



{% endblock content %}