{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}

{% if News %}
<section class="news-section container">
    <div class="page-section">
        <div class="news_feed_header">
            <h1 class="title title_h2">Новости и публикации</h1>
        </div>
        <ul class="news__list">
            {% for news in News %}
                <li class="news__item">
                    <a class="news__item-link" href="/news_{{ news.slug }}">
                        <img class="news__item-image" src="{% static 'homeapp/img/main_img_1.jpg' %}" class="news__item-image" alt="">
                        <h3 class="news__item-title">{{ news.title }}</h3>
                        <time class="news__item-date" datetime="{{ news.create_datetime }}">{{ news.create_datetime }}</time>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
<div class="form-wrapper">
    {% include "homeapp/forms/amo-form.html" %}
</div>
</section>
{% endif %}



{% endblock content %}