{% extends 'homeapp/base.html' %}
{% load static %}
{% block content %}

<section class="pricing">
  <div class="container">
    <div class="page-section">
      <div class="pricing-header">
        <h1 class="title title_h2">Тарифы на абонентское сопровождение</h1>
        <p>Выберите подходящий для вас пакет юридического обслуживания</p>
      </div>

      <div class="pricing-packages row justify-content-center pt-3">
        <!-- Базовый пакет -->
        <div class="col-xl-4 col-md-6 mb-xl-0 mb-5">
          <div class="pricing-card card tarif">
            <h3 class="text-center card-title card-header mb-3">Базовый пакет</h3>
            <div class="card-body">
              <ul class="list pricing-list">
                <li>Дистанционное консультирование по возникшим правовым вопросам (5 часов);</li>
                <li>Разовый срочный выезд для участия в проверке либо следственных действиях;</li>
              </ul>
              <div class="filling"></div>
              <p class="m-0 fs-6">50 000 рублей в месяц</p>
            </div>
          </div>
        </div>

        <!-- Продвинутый пакет -->
        <div class="col-xl-4 col-md-6 mb-xl-0 mb-5">
          <div class="pricing-card card tarif">
            <h3 class="text-center card-title card-header mb-3">Продвинутый пакет</h3>
            <div class="card-body">
              <ul class="list pricing-list">
                <li>Дистанционное консультирование по возникшим правовым вопросам (10 часов), в том числе подготовка
                  письменных правовых заключений;</li>
                <li>Два срочных выезда адвоката для участия в проверке контролирующих (налоговых) органов либо
                  следственных действиях;</li>
                <li>Правовой аудит сделки (2 часа) с изучением документов;</li>
                <li>Подготовка правовой позиции по судебному делу простой категории и одно-два дня участия в судебном
                  заседании арбитражного суда в месяц;</li>
              </ul>
              <div class="filling"></div>
              <p class="m-0 fs-6">100 000 рублей в месяц</p>
            </div>
          </div>
        </div>

        <!-- Премиальный пакет -->
        <div class="col-xl-4 col-md-6 mb-xl-0 mb-5">
          <div class="pricing-card card tarif">
            <h3 class="text-center mb-3 card-title card-header">Премиальный пакет</h3>
            <div class="card-body">
              <ul class="list pricing-list">
                <li>Дистанционное консультирование по возникшим правовым вопросам (15 часов), в том числе подготовка
                  письменных правовых заключений;</li>
                <li>Три срочных выезда адвоката для участия в проверке контролирующих (налоговых) органов либо
                  следственных действиях;</li>
                <li>Правовой аудит сделки (5 часов) с изучением документов, проведение переговоров;</li>
                <li>Подготовка правовой позиции по судебному делу сложной категории и безлимитное участие в судебных
                  заседаниях арбитражного суда по делу;</li>
                <li>Обслуживание клиентов в VIP офисе коллегии;</li>
              </ul>
              <div class="filling"></div>
              <p class="m-0 fs-6">150 000 рублей в месяц</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}