.cta-area {
	background: url(../img/cta-bg.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	z-index: 1;
}

.cta-area a {
  text-align: left;
}

.cta-area__title {
	margin: 0 0 30px;
  padding: 0;
	font-size: 32px;
	font-weight: 700;
	text-align: left;
	color: white;
}

.cta-area__text {
	margin: 0 0 30px;
	color: white;
  text-align: left;
}