{% extends 'homeapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="service-list">
        <h1 class="service-list__title h1">Услуги, оказываемые юридическим лицам</h1>
        <ul class="list-group list-group-flush service-list__items">
            <li class="list-group-item service-list__item"><a href="{% url 'homeapp:complex_support' %}">
                    <span>
                        Комплексное абоненсткое
                        сопровождение
                        адвокатом
                    </span>
                    <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                </a>
            </li>
            <li class="list-group-item service-list__item"><a href="{% url 'homeapp:insolvecy_support' %}">
                    <span>
                        Сопровождение
                        банкротства
                        (субсидиарная ответсвенность)
                    </span>
                    <img src="{% static 'homeapp/img/arrow-right.png' %}" alt="" />
                </a>
            </li>
        </ul>
    </div>

    <section class="send-request">
        <div class="container">
            <div class="send-request__inner">
                <div class="send-request__content">
                    <h2 class="send-request__title">Оставить заявку:</h2>
                    {% include 'homeapp/forms/application_form.html' %}
                </div>
                <img class="send-request__img" src="{% static 'homeapp/img/form-img.png' %}">
            </div>
        </div>
    </section>
</div>

{% endblock %}